{
    # Globální nastavení pro Caddy
    pki
    # Import self-signed certifikátu v PFX formátu
    import_cert wea.pfx {
        # ZDE VLOŽTE HESLO PRO PFX
        password vaseskupinoveheslo_ZMENIT 
    }
}

# --- 1. HTTP na HTTPS Redirect (Port 84) ---
# Odchytává požadavky na HTTP portu 84
:84 {
    # Automatické pøesmìrování na HTTPS port 447
    redir https://wea.nti.tul.cz:447{uri}
}


# --- 2. HTTPS Reverse Proxy (Port 447) ---
# Odchytává požadavky na HTTPS portu 447
:447 {
    # Použití self-signed certifikátu
    tls /etc/caddy/wea.pfx {
        # ZDE VLOŽTE HESLO PRO PFX
        password StrongPfxPassword
    }

    # Routování pro cestu /sk04-web/
    route /sk04-web* {
        # Odstranìní prefixu /sk04-web pøed odesláním na aplikaci
        uri strip_prefix /sk04-web

        # Reverse proxy na interní službu:webapplication1 na jejím interním portu 8080
        reverse_proxy webapplication1:8080
    }
}