@model List<WebApplication1.Models.HelloDoc>
@await Component.InvokeAsync("AppInfoWidget")
@{
    ViewData["Title"] = "Hello CouchDB";
}

<h2>Hello CouchDB</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.text</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><strong>Databáze je prázdná</strong></p>
}

<hr />
<form asp-controller="Hello" asp-action="Save" method="post">
    <div class="form-group">
        <label for="text">Zadej nový text:</label>
        <input type="text" class="form-control" id="text" name="text" />
    </div>
    <button type="submit" class="btn btn-primary">Uložit</button>
</form>
